/* Start navbar */
.navbar{margin-bottom: 0}
.navbar > .container-fluid .navbar-brand{ margin-left: 40px;padding: 0}
.navbar > .container-fluid .navbar-brand img{ height: 100%}
.navbar .navbar-right{margin-right: 30px}
.navbar .navbar-text{margin-left: auto;margin-right: auto;display: inline-block}
.navbar .dropdown .fa-globe{ position: relative}
.navbar .dropdown .number-notification{
    position: absolute;top: -9px;right: -4px;background-color: #D43F3A;color: #FFF;padding: 2px 3px;border-radius: 2px;font-size: 16px
}
.navbar .dropdown .dropdown-menu{ padding: 0}
.navbar .dropdown .dropdown-menu > li > a{ padding: 10px;white-space: normal}
.navbar .dropdown .list-group{overflow: auto;max-height: 340px;width: 334px}
.navbar .dropdown .dropdown-menu .list-group-item{border-radius: 0;height: 102px}
.navbar .dropdown .dropdown-menu .list-group-item p.list-group-item-text{
    height: 35px;margin-bottom: 5px;position: relative;overflow: hidden;text-overflow: ellipsis
}
@media (max-width: 768px) {
    .navbar .dropdown .dropdown-menu .list-group-item {border-left: 0;border-right: 0;border-top: 0;color: #FFF}
    .navbar .dropdown .dropdown-menu .list-group-item:hover .list-group-item-heading,
    .navbar .dropdown .dropdown-menu .list-group-item:focus .list-group-item-heading {color: #FFF}
    .navbar .navbar-right { margin-right: -15px}
    .navbar > .container-fluid .navbar-brand{ margin-left: 5px}
}
@media (max-width: 340px) {
    .navbar #dateTime{font-size: 10px}
}
/* End navbar */
/* Start Login Page */
.login{padding-top: 90px}
.login .page-header{border: 0;margin-bottom: 60px}
.login .page-header h1{font-family: 'Raleway', sans-serif;font-weight: 900;font-size: 40px}
.login .logoImage img{display:inline-block}
.login .form-horizontal{width: 80%}
.login .SumoSelect{width: 100%;text-align: left}
@media (max-width: 768px) {
    .login{ padding-top: 10px}
    .login .form-horizontal{width: 100%}
    .login .form-horizontal label{ margin-top: 7px}
}
/* End Login Page */
/* Start main Aside */
.mainAside{ padding:0;background-color: #222;z-index: 999}
.mainAside .nav-pills > li > a{ border-radius: 0}
.mainAside .nav-pills > li > a,
.mainAside .nav-pills > li > a:focus,
.mainAside .nav-pills > li > a:hover { color: #FFF}
.mainAside .nav-pills > li.active > a,
.mainAside .nav-pills > li.active > a:focus,
.mainAside .nav-pills > li.active > a:hover{ color: #222;background-color: #FFF}
.mainAside .nav > li > a:focus,
.mainAside .nav > li > a:hover { color: #FFF;background-color: #337AB7}
.mainAside .asideBack{display: none;background-color: #337AB7}
.mainAside .glyphicon{ top: 2px;float: right}
.mainAside .dropdown-menu{top: 0;left: 100%;border-radius: 0;margin: 0;padding: 0}
.mainAside .dropdown-menu > li > a{ padding: 10px 15px}
.mainAside .dropdown-menu > li > a:focus,
.mainAside .dropdown-menu > li > a:hover{ background-color: #337AB7;color: #FFF}
.viewAside{padding: 9px 10px;border: none;position: fixed;top: 70px;left: -1px;z-index: 999;display: none;background-color: #222}
.viewAside .icon-bar{width: 22px;height: 2px;margin-bottom: 3px;background-color: #FFF;display: block;border-radius: 1px}
@media (max-width: 768px) {
    .mainAside { display: none}
    .viewAside { display: block}
    .mainAside .dropdown-menu { top: 10px;left: 35%}
    .mainAside .asideBack{display: block}
}
/* End main Aside */
/* Start Daily Tasks */
.daily-tasks .table-responsive .table tr td .SumoSelect:first-of-type{ margin-bottom: 2px}
.daily-tasks .table-responsive .table tr td .SumoSelect:last-of-type{ display: none}
.add-daily-tasks form{margin: 30px 0}
.add-daily-tasks .SumoSelect{width: 100%}
/* End Daily Tasks */
/* Start Classes */
.classes .btn-group,
.busPage .btn-group,
.daily-statistics .btn-group{float: right;margin-right: 10px}
.classes .btn-group li,
.busPage .btn-group li,
.daily-statistics .btn-group li{list-style: none;float: left;padding: 0;border: none;margin-right: 0}
.busPage .btn-group li,
.daily-statistics .btn-group li{min-width: 100px}
.classes .btn-group li a,
.busPage .btn-group li a,
.daily-statistics .btn-group li a{color: #FFF;text-decoration: none;display: block;padding: 6px 12px;border: 1px solid transparent}
.classes .preparations-check{float: left;text-align: center}
.classes .preparations-check input[type="checkbox"]{margin: 5px auto 0;width: 15px;height: 15px}
@media (max-width: 768px) {
    .classes .btn-group{margin-right: 0;float: none;padding: 0;width: 100%}
    .daily-statistics .btn-group,
    .busPage .btn-group{width: 100%;padding: 0;margin-right: 0}
    .classes .btn-group li{margin-bottom: 4px;margin-right: 4px;border-radius: 4px !important}
    .daily-statistics .btn-group li{width: 50%}
    .busPage .btn-group li{width: 33.33333333%;min-width: auto}
    .classes .preparations-check input[type="checkbox"]{width: 20px;height: 20px}
    .classes .preparations-check{width: 100%;margin-bottom: 5px}
    .classes .preparations-check label{margin-bottom: 0}
    .classes .preparations-check input[type="checkbox"]{margin-top: 0}
}
/* End Classes */
/* Start Boxes */
.add-objectives .toAppend{max-height: 370px}
.add-objectives .toAppend,
.add-class-preparations .table-responsive{overflow-x: auto;margin-bottom: 5px}
.add-objectives .form-group{margin-left: 0;margin-right: 0}
form.forget-password .form-group:last-of-type{display: none}
.add-class-preparations .table-responsive{max-height:240px}
.add-class-preparations .table-responsive th,
.add-class-preparations .table-responsive td{border-top: none}
.add-class-preparations .table-responsive .form-group{margin: auto}
.add-class-preparations form .form-group:last-of-type{margin-top: 5px}
.pics-view{z-index: 997;display: none;background-color: #FFF;padding: 3px;border-radius: 3px;border: 1px solid #DDD;box-shadow: 2px 2px 10px 2px #DDD}
.pics-view .carousel{width: 450px;height: 450px}
.pics-view > span{z-index: 998;position: absolute;top: 15px;right: 15px;cursor: pointer}
.pics-view >span:hover{color: #D9534F}
@media (max-width: 768px) {
    .pics-view .carousel{width: 100%;height: 300px}
    .add-objectives .toAppend{max-height: 250px}
    .add-class-preparations .table-responsive{max-height: 166px}
}
/* End Boxes */
/* Start add-workplan */
.add-workplan form .form-group{min-width: 200px}
.workplan h2,
.assigned-tasks h2,
.tasks h2,
.checkInOut h2,
.staff h2,
.kids-data h2,
.assign-new-task h2{margin-bottom: 20px}
.tasks .container-for-btn-group a:first-of-type{margin-left: 2px}
/* End add-workplan */
/* Start Events & subject */
.events h2{margin-bottom: 20px}
.events .input-group.center-block{display: table}
.events .input-group-btn.center-block{display: table-cell}
.subject > .SumoSelect{position: absolute;top: 73px;right: 15px}
.subject > .table-responsive{margin-top: 65px}
.subject > .table-responsive .btn-group{margin-bottom: 10px}
@media (max-width: 768px) {
    .subject > .SumoSelect{position: relative;top: 0;right: 0;width: 100%}
    .subject > .table-responsive{margin-top: 15px}
}
/* End Events & subject */
/* Start View Activity , view Event */
.view-activity,
.view-event,
.view-issue,
.view-assigned-task{padding: 0 20px}
.view-activity h2,
.view-event h2,
.view-issue h2,
.view-assigned-task h2{margin-bottom: 30px;font-size: 30px}
.view-event label{color: #A00}
.view-activity .carousel{float: left;padding: 0;width: 450px;height: 450px;margin-left: 15px}
.view-issue form{margin-top: 40px}
.view-issue form .SumoSelect{width: 100%}
@media (max-width: 768px) {
    .view-activity,
    .view-event,
    .view-issue,
    .view-assigned-task{padding: 0}
    .view-activity .carousel{width: 100%;height: 300px}
    .view-assigned-task button{margin-bottom: 10px}
}
/* End View Activity , view Event */
/* Start view-approvals-workplan , view-confirmation-workplan, view-workplan */
.view-approvals-workplan,
.view-confirmation-workplan,
.view-workplan{padding: 30px 0}
.view-approvals-workplan .aside .info,
.view-confirmation-workplan .aside .info{margin-bottom: 10px;font-size: 20px}
.view-approvals-workplan .aside textarea{width: 100%;margin-top: 10px}
/* End view-approvals-workplan , view-confirmation-workplan, view-workplan */
/* Start performance sheet */
.performance-sheet-print .container-for-btn-group{margin: 20px 0}
.performance-sheet-print .container-for-btn-group .btn{margin-right: 10px}
.performance-sheet{padding: 10px;margin: 20px 10px;border:1px solid #000}
.performance-sheet h2{margin: 10px 0 30px 20px}
.performance-sheet .rates{font-size: 18px;border-right: 1px solid #000}
.performance-sheet .rates .rate{margin-bottom: 20px}
.performance-sheet .rates .rate label,
.performance-sheet .general-info label{color: #A00}
@media (max-width: 768px){
    .performance-sheet{margin: 10px 0}
    .performance-sheet h2{margin: 0 0 20px}
    .performance-sheet .rates{border: 0}
    .performance-sheet .general-info{margin-bottom: 20px}

}
@media print {
    body {visibility:hidden}
    .performance-sheet {visibility:visible}
    .performance-sheet h2{margin-bottom: 30px}
    .performance-sheet .rates{font-size: 18px;border-right: 1px solid #000}
    .performance-sheet .rates .rate{margin-bottom: 30px;float: left;width: 50%}
    .col-lg-2, .col-lg-4, .col-lg-10{float: left}
    .col-sm-10 {width: 100%}
    .col-lg-10 {width: 83.33333333%}
    .col-lg-4 {width: 33.33333333%}
    .col-lg-2 {width: 16.66666667%}
    .col-lg-push-10 {left: 83.33333333%}
    .col-lg-pull-2 {right: 16.66666667%}
}
/* End performance sheet */
/* Start Bus */
.busPage .info label{font-size: 22px}
.busPage form input[type="checkbox"]{margin: auto;height: 15px;width: 15px}
@media (max-width: 768px){
    .busPage .info > div{margin-bottom: 10px}
    .busPage form input[type="checkbox"]{height: 20px;width: 20px}
}
/* End Bus */
/* Start Add event */
.add-event,
.view-event-request{margin-bottom: 10px}
.add-event h2,
.view-event-request h2{margin-bottom: 30px}
.add-event table input.form-control{min-width: 150px}
.add-event form .control-label,
.view-event-request .form-horizontal .control-label{text-align: left}
.view-event-request .sum label{color: #A00}
.add-event button.add{margin-top: 20px}
.add-event .table-responsive{margin-top: 0}
@media (max-width: 768px){
    .add-event .table-responsive,
    .view-event-request .table-responsive{padding: 0}
}
/* End Add event */
/* Start Reception logistics */
.add-reception-logistics .btn-group{float: right;margin-right: 30px}
.add-reception-logistics .btn-group button{margin: 10px 0}
.add-reception-logistics table tr th,
.add-reception-logistics table tr td{border-top: none;text-align: center}
.add-reception-logistics table input{min-width: 150px}
.add-reception-logistics .SumoSelect{width: 100%}
.add-reception-logistics .row{margin-top: 10px}
.add-reception-logistics button[type='submit']{margin: 20px 0}
@media (max-width: 768px) {
    .add-reception-logistics .btn-group{margin-right: 0}
    .add-reception-logistics .SumoSelect{margin-bottom: 10px}
    .add-reception-logistics button[type='submit']{margin: 10px 0}
}
/* End Reception logistics */
/* Start view-reception-logistics */
.view-reception-logistics{padding-bottom: 10px}
.view-reception-logistics h2{margin-bottom: 30px}
.view-reception-logistics .info{margin-bottom: 20px;overflow: hidden}
.view-reception-logistics .info label{font-size: 20px}
.view-reception-logistics textarea {margin-bottom: 10px}
@media (max-width: 768px) {
    .view-reception-logistics textarea{margin-top: 10px}
}
/* End view-reception-logistics */
/* Start Class Table */
.edit-class-table .table > tbody > tr > td{padding: 0}
.add-class-table input{width: 100%;padding: 8px;border: none}
@media (max-width: 768px) {
    .add-class-table input{min-width: 150px}
}
/* End Class Table */
/* Start daily-statistics */
.daily-statistics{padding: 0 20px}
.daily-statistics .stat h4{margin-bottom: 0; font-size: 24px}
.daily-statistics .stat .number{font-size: 50px;font-weight: bold}
.daily-statistics .chart-container {height: auto;margin: auto;border: 1px solid #DDD;padding: 10px}
.daily-statistics .tab-pane > div:last-of-type .chart-container{height: 350px}
.daily-statistics .tab-pane > div {margin: 20px 0}
@media (max-width: 768px) {
    .daily-statistics{padding: 0}
    .daily-statistics .stat .number{font-size: 20px}
    .daily-statistics .chart-container {height: auto;border: 1px solid #DDD;padding: 5px}
}
/* End daily-statistics */
/* Start Profile */
.profile{padding: 40px 0}
.profile .panel,
.profile .profile-img{margin-bottom: 20px}
.profile .profile-img img{width: 100%;margin-bottom: 10px;border-radius: 4px}
.profile .panel .panel-title{font-weight: bold;font-size: 18px}
.profile .infoRow {margin: 5px 0}
.edit-profile .infoRow {margin: 15px 0}
.profile .infoRow label{font-size: 16px;margin-right: 10px}
.profile .infoRow > p,
.profile .infoRow > input{display: inline-block}
.profile .infoRow input,
.profile .infoRow .SumoSelect{width: auto;min-width: 400px}
@media (max-width: 768px) {
    .profile{padding: 10px 0}
    .profile .container-fluid{padding: 0}
    .profile .panel,
    .profile .profile-img{margin-bottom: 10px}
    .edit-profile .infoRow input,
    .edit-profile .infoRow .SumoSelect {min-width: auto}
}
/* End Profile */
/* Start 404 */
.error-path img{display: block;margin: auto}
/* End 404 */
/* Start db-management */
.db-management form .SumoSelect{width: 100%}
/* End db-management */
/* Start framework */
h2{font-weight: bold;text-transform: capitalize}
table a,
table a:hover{color: #333}
.table-responsive{margin-top: 10px;overflow-x: visible}
textarea{resize: none}
.container-for-btn-group{overflow: hidden;margin-bottom: 10px}
.container-for-btn-group .btn{float: right;margin-right: 10px}
.add-forms .SumoSelect{width: 100%}
.add-forms h2{margin-bottom: 30px}
.add-forms .control-label{text-align: left}
.contRow{overflow: hidden;margin-bottom: 8px}
div.uploads label{color: #FFF}
div.uploads label,
div.uploads input[type="file"]{position: absolute;top: 0;left: 0;width: 100%}
div.uploads input[type="file"]{visibility: hidden}
.add-item-button-container{overflow: hidden}
.add-item-button{float: right;margin-right: 15px}
.SumoSelect .select-all{height: auto}
select[multiple], select[size] {
    height: 100% !important;
}
@media (max-width: 768px) {
    h2{text-align: center}
    .table-responsive{margin-top: 5px}
    .container-for-btn-group .btn{margin-right: 0}
    .input-group.center-block{display: table}
    .input-group-btn.center-block{display: table-cell}
}
/* End framework */